/* ====== MODALS ======= */
#userSignUp[open="true"],
#forgotPasswordModal[open="true"] {
    opacity: 1;
    pointer-events: auto;
    transition: 0.4s all;
    transform: scale(1);
}

#userSignUp[open="false"],
#forgotPasswordModal[open="false"]  {
    opacity: 0;
    pointer-events: none;
    transition: 0.4s all;
    transform: scale(1.2);
}
/* ====== END MODALS ==== */